<link rel="stylesheet" href="css/home.css">
<!------------------ Hover Effect Style : Demo - 7 --------------->
<div class="container mt-40">
    <h3 class="text-center">Awesome English</h3>
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6">
            <div class="box7">
                <img class="pic-1" src="https://www.w3schools.com/bootstrap4/img_avatar3.png">
                <div class="box-content">
                    <h3 class="title"><%- Word[0]%></h3>
                    <span class="post"><%- description[0]%></span>
                    <ul class="icon">
                        <button class="btn btn-primary" type="submit">Button</button>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box7">
                <img class="pic-1" src="https://www.w3schools.com/bootstrap4/img_avatar4.png">
                <div class="box-content">
                    <h3 class="title"><%- Word[1]%></h3>
                    <span class="post"><%- description[1]%></span>
                    <ul class="icon">
                        <button class="btn btn-primary" type="submit">Button</button>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box7">
                <img class="pic-1" src="https://www.w3schools.com/bootstrap4/img_avatar5.png">
                <div class="box-content">
                    <h3 class="title"><%- Word[2]%></h3>
                    <span class="post"><%- description[2]%></span>
                    <ul class="icon">
                        <button class="btn btn-primary" type="submit">Button</button>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box7">
                <img class="pic-1" src="https://www.w3schools.com/bootstrap4/img_avatar3.png">
                <div class="box-content">
                    <h3 class="title"><%- Word[3]%></h3>
                    <span class="post"><%- description[3]%></span>
                    <ul class="icon">
                        <button class="btn btn-primary" type="submit">Button</button>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box7">
                <img class="pic-1" src="https://www.w3schools.com/bootstrap4/img_avatar4.png">
                <div class="box-content">
                    <h3 class="title"><%- Word[4]%></h3>
                    <span class="post"><%- description[4]%></span>
                    <ul class="icon">
                        <a class="button" href="#">Button</a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box7">
                <img class="pic-1" src="https://www.w3schools.com/bootstrap4/img_avatar3.png">
                <div class="box-content">
                    <h3 class="title"><%- Word[5]%></h3>
                    <span class="post"><%- description[5]%></span>
                    <ul class="icon">
                        <button class="btn btn-primary" type="submit">Button</button>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
